/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0; }

/**
   * Add the correct display in IE 9-.
   */
article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none; }

/**
   * Remove the outline on focused links when they are also active or hovered
   * in all browsers (opinionated).
   */
a:active,
a:hover {
  outline-width: 0; }

/**
   * 1. Remove the bottom border in Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block; }

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none; }

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden; }

/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**Enable panning and pinch zoom gestures, but disable additional non-standard gestures such as double-tap to zoom. Disabling double-tap to zoom removes the need for browsers to delay the generation of click events when the user taps the screen. */
a, area, button, input, label, select, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block; }

/**
   * Add the correct display in IE.
   */
template {
  display: none; }

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none; }

/* Reset
     ========================================================================== */
h1, h2, h3, h4, h5, h6, p, blockquote, em, img, i, dl, dt, ol, ul, li, video, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span {
  outline: none; }

ul, ol {
  list-style-type: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

/** to remove the rounded in IOS*/
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0; }

@keyframes scroll_mouse {
  from {
    transform: translate(0); }
  to {
    transform: translateY(20%); } }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Bold/ProximaNovaExCn-Bold.eot?") format("eot"), url("../fonts/ProximaNova-Bold/ProximaNovaExCn-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold/ProximaNovaExCn-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Light/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light/ProximaNova-Light.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular/ProximaNovaCond-Regular.eot?") format("eot"), url("../fonts/ProximaNova-Regular/ProximaNovaCond-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular/ProximaNovaCond-Regular.ttf") format("truetype"); }

.we-do_s {
  max-width: 100%;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  .we-do_s h2 {
    font-family: "ProximaNova";
    font-size: 48px;
    font-weight: 900;
    line-height: 36px;
    color: #000000;
    padding-top: 40px; }
  .we-do_s a {
    text-align: center;
    font-family: 'ProximaNova-Regular';
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 0;
    line-height: 36px;
    color: #fff; }
  .we-do_s h3 {
    font-family: "ProximaNova";
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    color: #000000;
    padding-left: 20px; }
  .we-do_s p {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #949494;
    padding: 0 0 20px 20px; }

.we-do_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }

.text_container {
  width: 90%;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.we-do_container__small:nth-child(2n) {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap; }

.we-do_container__small:nth-child(2n+1) {
  width: 50%;
  padding: 0 3% 0 7%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap; }

body {
  max-width: 100%;
  width: 100%;
  height: 300vh; }

.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 999; }

.header_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0 auto; }

.logo {
  padding-top: 53px;
  font-family: "ProximaNova";
  font-size: 36px;
  font-weight: 500;
  line-height: 24px;
  color: #000000; }
  .logo .logo_bold {
    font-family: "ProximaNova";
    font-size: 36px;
    font-weight: 900;
    line-height: 24px;
    color: #000000; }

nav {
  font-family: 'ProximaNova-Regular';
  width: 425px;
  padding-top: 53px;
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  font-family: "ProximaNova";
  font-size: 18px;
  font-weight: 0;
  line-height: 24px;
  color: #000000; }
  nav a {
    color: #000000;
    width: 70px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    position: relative; }

nav > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 3px;
  background: #49007c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49007c, #bc0085);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49007c, #bc0085);
  transition: .5s; }

nav > a:hover::after {
  transition: .5s;
  width: 90%; }

.intro_s {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.intro_s__desc {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 600px;
  height: 200px;
  text-align: center; }
  .intro_s__desc h2 {
    font-family: "ProximaNova";
    font-size: 48px;
    font-weight: 900;
    line-height: 36px;
    color: #000000; }
  .intro_s__desc p {
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #252525;
    padding-bottom: 40px; }
  .intro_s__desc a {
    width: 150px;
    height: 40px; }

.block_btn {
  font-family: "ProximaNova";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  border-radius: 25px;
  width: 150px;
  padding: 3px;
  height: 40px;
  margin-bottom: 30px;
  background: #49007c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49007c, #bc0085);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49007c, #bc0085); }

.intro_s__mouse {
  position: relative;
  top: 75%;
  left: 49%;
  width: 80px;
  height: 150px;
  font-family: "ProximaNova";
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #fff; }
  .intro_s__mouse p {
    transform: translateX(-25%); }
  .intro_s__mouse .scroll_mouse {
    width: 4px;
    height: 10px;
    background-color: #373635;
    position: absolute;
    top: 4%;
    left: 13.6%;
    animation: scroll_mouse .5s infinite linear alternate backwards; }

.code-design_s {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  .code-design_s h2 {
    font-family: "ProximaNova";
    font-size: 48px;
    font-weight: 500;
    line-height: 36px;
    color: #fff; }
    .code-design_s h2 .code_bold {
      font-family: "ProximaNova";
      font-size: 48px;
      font-weight: 900;
      line-height: 36px;
      color: #fff;
      letter-spacing: 2px; }
  .code-design_s p {
    font-family: "ProximaNova";
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: #fff; }
  .code-design_s a {
    text-align: center;
    font-family: 'ProximaNova-Regular';
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 0;
    line-height: 36px;
    color: #fff; }

.design__s {
  background-image: url(../img/design_s.jpg);
  background-attachment: fixed;
  background-size: 101%;
  background-repeat: no-repeat;
  max-width: 50%;
  width: 50%;
  height: 100%;
  padding: 40px 5% 10px 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap; }

.code__s {
  background-image: url(../img/code_sl.jpg);
  background-size: 101.9%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 50%;
  width: 50%;
  height: 100%;
  padding: 40px 15% 10px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap; }

.map {
  width: 100%; }

.about-us_s {
  max-width: 100%;
  width: 100%;
  height: 638px;
  max-height: 900px;
  background-image: url(../img/about_us.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  .about-us_s h2 {
    padding-top: 30px;
    font-family: "ProximaNova";
    font-size: 48px;
    font-weight: 900;
    line-height: 36px;
    color: #fff; }
  .about-us_s p {
    width: 40%;
    font-family: "ProximaNova";
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #949494;
    text-align: center; }
  .about-us_s .block_btn {
    text-align: center; }

.our_team {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  .our_team .people {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; }
  .our_team h3 {
    font-family: "ProximaNova";
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #fff; }
  .our_team p {
    width: 200px;
    padding: 0 -60px 0 -60px; }
