// PROXIMA NOVA
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Bold/ProximaNovaExCn-Bold.eot?') format('eot'),
    url('../fonts/ProximaNova-Bold/ProximaNovaExCn-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold/ProximaNovaExCn-Bold.ttf')  format('truetype'); 
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
    url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf')  format('truetype'); 
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular/ProximaNovaCond-Regular.eot?') format('eot'),
    url('../fonts/ProximaNova-Regular/ProximaNovaCond-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular/ProximaNovaCond-Regular.ttf')  format('truetype'); 
}