.code-design_s {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 320px;
    @include flex(row, space-around, center, nowrap);
    h2 {
        @include font(48px, 500, 36px, #fff);
        .code_bold {
            @include font(48px, 900, 36px, #fff);
            letter-spacing: 2px;
        }
    }
    p {
        @include font(14px, 500, 25px, #fff);
    }
    a {
        text-align: center;
        font-family: 'ProximaNova-Regular';
        @include font(18px, 0, 36px, #fff);
    }
}
.design__s {
    background-image: url(../img/design_s.jpg);
    background-attachment: fixed;
    background-size: 101%;
    background-repeat: no-repeat;
    max-width: 50%;
    width: 50%;
    height: 100%;
    padding: 90px 5% 1% 15%;
    @include flex(column, space-between, flex-start, nowrap);

}
.code__s {
    background-image: url(../img/code_sl.jpg);
    background-size: 101.9%;
    background-attachment: fixed;
    // transform: translateX(-0.8%);
    background-repeat: no-repeat;
    max-width: 50%;
    width: 50%;
    height: 100%;
    padding: 90px 15% 1% 5%;
    @include flex(column, space-between, flex-start, nowrap);

}